# Specify line endings for yarn.lock
* text eol=crlf
package.json text eol=crlf
tailwind.config.js text eol=crlf
yarn.lock text eol=crlf
README.md eol=crlf
tailwind.config.js eol=crlf
.yarnrc.yml eol=crlf
.yarn/install-state.gz eol=crlf
public/favicon2.ico eol=crlf
public/index.html eol=crlf